[Unit]
Description=PAM OAuth server
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitIntervalSec=0
User=oauth
Group=oauth
DynamicUser=yes
ExecStart=/usr/bin/pam-oauth-server serve

# https://gist.github.com/ageis/f5595e59b1cddb1513d1b425a323db04
DevicePolicy=closed
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SecureBits=noroot-locked

[Install]
WantedBy=multi-user.target
